html {
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #003b59;
  --main-bg-color-dark: #001530;
}

/* Others */
body {
  font-family: "Montserrat", "Roboto", Arial, sans-serif;
}

p {
  text-align: justify;
  text-justify: inter-word;
  max-width: 1024px;
  font-size: 16px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.anchor {
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

.bg-white {
  background-color: white;
}

.header-image-size {
  width: 100%;
  min-width: 200px;
  max-width: 650px;
  max-height: 300px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.brand-size {
  font-weight: bold;
}

.space-blue-bg {
  background-color: var(--main-bg-color);
}

.space-blue-bg-dark {
  background-color: var(--main-bg-color-dark);
}

.font-space-blue {
  color: var(--main-bg-color);
}

.font-white {
  color: white;
}

button:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

/* Light and Dark Mode Button */
#theme-switch {
  width: 130px;
}

.theme-light {
  background-color: white;
  color: black;
}

.theme-dark {
  background-color: #2d2d30;
  color: white;
}

/* Back to top floating button */
#floating-up-button {
  padding: 8px;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  border-radius: 50%;
  border: 0px;
  color: white;
}

#floating-up-button:hover {
  cursor: pointer;
}

/* Font Resizer Floating Component */
#container-font-size {
  position: fixed;
  bottom: 84px;
  right: 24px;
}

.btn-font-size {
  color: white;
  width: 40px;
  height: 40px;
  border: 0px;
  font-size: 30px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.rotate-180 {
  transform: rotate(180deg);
}

#input-font-size {
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: white;
  border: 0px;
  color: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/* Top Container */
#top-container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0rem 1rem 1rem 1rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

/* About Us */
#about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 1024px;
}

#about-us-header {
  flex-grow: 1;
  text-align: center;
}

#about-us-content-container {
  flex-grow: 3;
}

.about-us-people-row-container {
  display: flex;
  flex-direction: row;
}

.about-us-person-container {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.person-avatar {
  border-radius: 50%;
  background-color: white;
}

.about-us-person-name {
  font-size: 1.5em;
  font-weight: bold;
}

.flex-grow-1 {
  flex-grow: 1;
}

.header-font {
  font-size: 3em;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  #about-us {
    flex-direction: column;
  }

  .about-us-people-row-container {
    flex-direction: column;
  }

  .about-us-person-container {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  #top-container {
    flex-direction: column;
  }
}
