html {
  scroll-behavior: smooth;
}

:root {
  --main-bg-color: #003b59;
  --main-bg-color-dark: #001530;
}

/* Others */
body {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 16px;
}

section:not(#top-container, .bg-black) {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.anchor {
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.header-image-size {
  width: 100%;
  min-width: 200px;
  max-width: 650px;
  max-height: 300px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.brand-size {
  font-weight: bold;
}

.space-blue-bg {
  background-color: var(--main-bg-color);
}

.space-blue-bg-dark {
  background-color: var(--main-bg-color-dark);
}

.font-space-blue {
  color: var(--main-bg-color);
}

.font-white {
  color: white;
}

button:focus,
.btn:focus,
select {
  outline: none;
  box-shadow: none;
}

/* Light and Dark Mode Button */
#theme-switch {
  min-width: 130px;
  padding-left: 8px;
}

#theme-switch-icon {
  margin-right: 8px;
}

.theme-light {
  background-color: white;
  color: black;
}

.theme-dark {
  background-color: #2d2d30;
  color: white;
}

/* Back to top floating button */
#floating-up-button {
  padding: 8px;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  border-radius: 50%;
  border: 0px;
  color: white;
}

#floating-up-button:hover,
#floating-font-options-toggle:hover,
.btn-font-size:hover,
select.font-family:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

/* Show or Hide font options floating buton */
#floating-font-options-toggle {
  padding: 8px;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 24px;
  right: 74px;
  border-radius: 50%;
  border: 0px;
  color: white;
}

/* Font Resizer Floating Component */
#container-font-size {
  position: fixed;
  bottom: 84px;
  right: 24px;
}

.btn-font-size {
  color: white;
  width: 40px;
  height: 40px;
  border: 0px;
  font-size: 30px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.rotate-180 {
  transform: rotate(180deg);
}

#input-font-size {
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: white;
  border: 0px;
  color: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/* Font Family Select */
select.font-family {
  padding: 4px;
  height: 40px;
  position: fixed;
  bottom: 24px;
  right: 124px;
}

/*  Animations */
.zoom-out {
  animation-duration: 300ms;
  animation-name: zoomout;
  animation-fill-mode: forwards;
}

@keyframes zoomout {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.zoom-in {
  animation-duration: 300ms;
  animation-name: zoomin;
  animation-fill-mode: forwards;
}

@keyframes zoomin {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }

  to {
    opacity: 0;
    transform: scale(0, 0);
  }
}

.no-animation-delay {
  animation-duration: 0ms !important;
}

/* Top Container */
#top-container {
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0rem 1rem 3rem 1rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

#canvas-logo-container {
  height: 250px;
}

/* About Us */
#about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 1024px;
}

#about-us-header {
  flex-grow: 1;
  text-align: center;
}

#about-us-content-container {
  flex-grow: 3;
}

.about-us-people-row-container {
  display: flex;
  flex-direction: row;
}

.about-us-person-container {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.person-avatar {
  border-radius: 50%;
  background-color: white;
}

.about-us-person-name {
  font-size: 1.5em;
  font-weight: bold;
}

.flex-grow-1 {
  flex-grow: 1;
}

.header-font {
  font-size: 3em;
  font-weight: bold;
  overflow-wrap: anywhere;
  text-align: center;
}

.sub-header-font {
  font-size: 1.2em;
}

@font-face {
  font-family: open-dyslexic-mono;
  src: url("./fonts/OpenDyslexicMono-Regular.otf");
}

@media (min-width: 1300px) {
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-custom .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-custom > .container {
    flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  #about-us {
    flex-direction: column;
  }

  .about-us-people-row-container {
    flex-direction: column;
  }

  .about-us-person-container {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  #top-container {
    flex-direction: column;
  }
}
